

<div class="mx-3">
  <h1 class="display-3 text-center">Products Table</h1>
      <div class="input-group mb-3 ">
        <a routerLink="/add" class="btn btn-primary mr-4"><i class="fas fa-plus"></i> Create</a>
        <div class="input-group-prepend ">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search" >
      </div>

      <div style="overflow-x:auto;">
        <table class="custom-table table table-striped">
          <thead class="thead-dark">
            <tr>
              <th *ngFor="let column of headers" class="thead-dark" (click)="sort(column)">
                {{column }}  
                <i *ngIf="column; else message" class="fa fa-sort"></i>
                <ng-template #message>
                  Refresh <i class="fas fa-retweet"></i>
                </ng-template>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products |
            filter:search |
            paginate: { id: 'pagination',
            itemsPerPage: 9,
            currentPage: page,
            totalItems: totalRecords}">
                <td class="align-middle">{{product.id}}</td>
                <td class="align-middle">{{product.name}}</td>
                <td class="align-middle">{{onLoopArray(product.categories)}}</td>
                <td class="align-middle">{{product.price | currency: product.currency }}</td>
                <td class="align-middle">{{dataFormat(product.creationDate)}}</td>
                <td class="align-middle buttons">
                  <a [routerLink]="['/edit', product.id]" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
                  <button (click)="onDelete(product.id)" class="btn btn-danger ml-lg-3" ><i class="fas fa-trash"></i> Delete</button>
                </td>
            </tr>
          </tbody>
        </table> 
      </div>
        <div>
          <pagination-controls id="pagination"  directionLinks="true"(pageChange)="page = $event"></pagination-controls>
        </div>
      
</div>